.textFiledContainer{
  margin:10px 10px;

} 

.custom-fieldset {
  flex:1;
  position: relative;
  display: flex;
  align-items:flex-end;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--blue-600);
  border-radius: var(--dsborder-radius);
  /* background-color: transparent; */
  /* background-color: var(--background); */
}

.custom-fieldset:not(.disabled):hover{
  border-color: black;
}
.custom-fieldset.focused {
  border-color: var(--blue-600);
}
.custom-fieldset.disabled{
  border-color: gray;
}
/* Legend as the floating label */
.floating-label {
  position: absolute;
  

  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue-600);
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: var(--background);
  padding: 0 5px;
}

.shrink {
  top: -10px;
  font-size: 12px;
}

.iconwrapper{
  flex:1;
  width:fit-content;

}
.icon_left
{
  margin-right:  0.5rem;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
width:100%  }


.input-wrapper{
  flex:1;
  height:var(--dsheight);
  width:var(--dswidth);
}

.custom-textarea {
  flex:1;
  display:flex;
  align-items: flex-end;
  font-size: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  z-index: 1;
  resize:vertical;
  overflow:hidden;
  width:100%;  
  color:black;
}



.custom-input {
  flex:1;
  display:flex;
  align-items: flex-end;
  font-size: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  z-index: 1;
  color:black;
  width:fit-content;


}


.icon_left,.icon_right {
  flex:1;
  width:fit-content;
  position: relative;
  display: flex;
  pointer-events: none;    /* Prevent icon from blocking clicks */
}

.icon_right
{
  margin-left:  0.5rem;
}

.input::placeholder {
  position: absolute;
  left: 70px;
  align-content: center;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue-600);
  font-size: 16px;
  transition: all 0.3s ease;
   background-color: var(--background);
  padding: 0 5px;
  align-content: center;
}

.input:focus::placeholder {
  color: transparent;
  align-items: center;
}


.custom-input[type="date"] {
  position: relative;
  color: transparent; /* Hide the default date text */
}

.custom-input[type="date"]::before {
  content: attr(data-placeholder);
  position: absolute;
  color: #999; /* Style for the placeholder text */
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Make sure the placeholder is not clickable */
}

.custom-input[type="date"]:focus {
  color: initial; /* Show the real date when focused */
}
.custom-input[type="date"]:valid {
  color: initial; /* Show the real date when focused */
}
.custom-input[type="date"]:valid::before {
  content: ""; /* Remove placeholder when a valid date is selected */
}




.custom-fieldset.focused .floating-label,
.custom-input:not(:placeholder-shown) + .floating-label
.custom-input:valid + .floating-label {
 top: 0px;
font-size: 12px;
}



