.SaveBtn{
    display: flex;
    justify-content: center;
  }
  .savebtn{
    width: 98%;
    height: 60px;
    margin-top: 120px;
    background-color: var(--primary-hover);
    color: var(--text-white) !important;
    border: none !important;
  }
  .documents{
    font-size: 13px;
    font-family: sans-serif;
  }
  .padd{ 
    padding: 20px;
  }  
  .docs{
  display: flex;
  justify-content: space-between;
  }
  .btn{
    border: none !important;
    color: var(--grey-900) !important;
    font-size: 16px !important;
  }
  .pane{
    width:fit-content;
    height: 30px;
    border: none !important;
  }
  .checkbox{
    margin-bottom: 8px !important;
    border-radius: 3px 3px 3px 3px !important;
  }
  