.SaveBtn{
    display: flex;
    justify-content: center;
  }
  .savebtn{
    width: 98%;
    height: 40px;
    margin-top: 120px;
    background-color: var(--primary-hover);
    color: var(--text-white) !important;
  }
  .documents{
    font-size: 13px;
    font-family: sans-serif;
  }
  .padd{
    padding: 20px;
  }