.container {
    flex:1;
    display: flex;
   /* justify-content: center; 
    align-items: center;*/ 
    height: fit-content;
    width:100%;
    /* background-color:  var(--background); */
    position: relative; 
    z-index: 9;
}
.contextMenu {
    background-color: var(--background) !important;
    /*color: var(--background);*/ /* Changed to black for better visibility */
    padding: 5px 10px;
    border-radius: 0px;
    font-size: var(--subtitle1);
    text-align: center;
    white-space: nowrap; /* Keeps text in a single line */
    position: fixed; /* Position relative to the button */
    z-index: 10; /* Make sure it's on top */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 200px; /* Set a maximum width */
    width: 25px;
    max-width: fit-content; /* Set a maximum width */
    width: fit-content;
    height:fit-content; /* Automatically adjust width based on content */
    display: none; /* Start hidden */
    flex-direction: column;
}

.arrow {
    position: absolute;
  /* bottom: -10px; */
   /* left: 50%;  */
    transform: translateX(-50%);
    width: 0;
    height: 0;
   /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
   /* border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--background); /* Color of the arrow */
}
.arrow {
    position: absolute;
    width: 0;
    height: 0;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px; */
    transform: translateX(-50%);
  }
 
  /* Arrow pointing to the right (default) */
  .arrow.right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--background); /* Color of the arrow */
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
 
  /* Arrow pointing to the left */
  .arrow.left {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--background); /* Color of the arrow */
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
 
  /* Arrow pointing to the top */
  .arrow.top {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--background); /* Color of the arrow */
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
 
  /* Arrow pointing to the bottom */
  .arrow.bottom {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--background); /* Color of the arrow */
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
 
.horizontalDiv{
    display: flex;
    overflow: auto;
}