
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
width:100%  }
.custom-fieldset.disabled{
  border-color: gray;
}
.custom-fieldset:not(.disabled):hover{
  border-color: black;
}
.input::placeholder {
  position: absolute;
  left: 70px;
  align-content: center;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue-600);
  font-size: 16px;
  transition: all 0.3s ease;
   background-color: var(--background);
  padding: 0 5px;
  align-content: center;
}
.datalist {
  position: absolute;
  background-color: white;
 

}
.input:focus::placeholder {
  color: transparent;
  align-items: center;
}


.custom-fieldset {
  flex:1;
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  align-items:flex-end;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--blue-600);
  border-radius: 5px;
  
  /* background-color: transparent; */
  /* background-color: var(--background); */
}


.input-wrapper{
  flex:1;
  height:fit-content;
  width:fit-content;
}
.custom-fieldset.focused {
  border-color: var(--blue-600);
}
.custom-input {
  flex:1;
  display:flex;
  align-items: flex-end;
  font-size: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  z-index: 1;
  color:black;
  width:fit-content;
  

  /* resize:vertical;
  overflow:hidden;
  width:100%; */

}


/* Legend as the floating label */
.floating-label {
  position: absolute;
  

  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue-600);
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: var(--background);
  padding: 0 5px;
}

.custom-fieldset.focused .floating-label,
.custom-input:not(:placeholder-shown) + .floating-label
.custom-input:valid + .floating-label {
 top: 0px;
font-size: 12px;
}
.shrink {
  top: -10px;
  font-size: 12px;
}


