.floatter {
    position: fixed;
    z-index: 1;
  }
  
  
  .top {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .topleft {
    top: 1rem;
    left: 1rem;
  }
  
  .topright {
    top: 1rem;
    right: 1rem;
  
  }
  
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .bottom {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .bottomleft {
    bottom: 1rem;
    left: 1rem;
  }
  
  .bottomright {
    bottom: 1rem;
    right: 1rem;
  
  
  }

  .toast {
    padding: var(--dspadding);/*original 16px*/
    border-radius: var(--dsborder-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
/* background: var(--white) 0% 0% no-repeat padding-box; */
/* background: #FFFFFF 0% 0% no-repeat padding-box; */
background: var(--background);
box-shadow: 8px 8px 16px #00000033;
border-radius: var(--dsborder-radius);
opacity: 1;
  }

.toastImg 
{
    margin-right:0.5rem;
}
.floatter.success
{ 
border-left:  8px solid var(--approved)  ;

} 

.floatter.info
{ 
/* border-left:8px solid #41428E; */
border-left:8px solid var(--open);

} 

.floatter.error
{ 
border-left:8px solid var(--danger);

} 

.floatter.bonus
{ 
border-left:8px solid var(--hold);

} 



.messageContainer {
  margin-bottom: 10px;
}

.buttonContainer {
  align-content: baseline;
  padding-left: 24px;
  align-self: left; 
  padding-top: 90px;

}

.btn{
  background-color: var(--primary) ;
}