.selectpopContainer{
    /* width: 100%; */
    padding: var(--ds-padding);
    /* margin: var(--ds-margin); */
}

.popContentContainer{
    min-width: fit-content !important;
    min-height: fit-content !important;
}

.selectpopContainer{
    min-width: fit-content !important;
    min-height: fit-content !important;
}
 
.selectPopUp{
    width: 90%;
    margin: 1rem !important;
}
 
.commentField{
background-color: var(--grey-50);
}
 
.popupFooter{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2rem;
}
 
.approveBtn{
    color: var(--btnText) !important;
    background-color: var(--background) !important;
    border: 0px !important;
}
.approveBtn:hover{
    color: var(--btnText-hover) !important;
    background-color: var(--background) !important;
 
}
 
.commentText{
    margin-top: 2rem !important;
    margin-bottom: 0.3rem !important;
}

.commentField{
    min-width: fit-content;
    min-height: fit-content;
}
.fieldContainer{
    margin: 1rem;
    background-color: var(--background);
}