.filterContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:0.01rem;
  /* gap: 0.3rem !important; */

 
}
.innerfilterContainer
{
display: flex;
justify-content: space-evenly;
align-items: center;
gap:1rem;
width : 35.0rem !important;
}

.submissionBtn .feesBtn .approvalBtn{
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
  margin: 2px !important;
}
.submissionBtn:hover .feesBtn:hover .approvalBtn:hover{
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
  background-color: var(--backgroundt);
}
.filterBtn{
  color: var(--primary) !important;
  border: 0px !important;
}
.filterBtn:hover{
  background-color: var(--text-primary-hover) !important;
}

.deviation_pending {
  background-color: var(--deviationpending-o) !important;
  color: var(--deviationpending-text) !important;
}
 
.approved {
  background-color: var(--approved-o) !important;
  color: var(--approved-text) !important;
}
 
.cancelled {
  background-color: var(--cancelled-o) !important;
  color: var(--cancelled-text) !important;
}
 
.ready_to_dispatch {
  background-color: var(--readytodispatch-o) !important;
  color: var(--readytodispatch-text) !important;
}
 
.rejected {
  background-color: var(--rejected-o) !important;
  color: var(--rejected-text) !important;
}
 
.open {
  background-color: var(--open-o) !important;
  color: var(--open-text) !important;
}
 
.draft {
  background-color: var(--draft-o) !important;
  color: var(--draft-text) !important;
}

.approval {
  background-color: var(--approval-o) !important;
  color: var(--approval-text) !important;
}

.under_review {
  background-color: var(--under-review-o) !important;
  color: var(--under-review-text) !important;
}

.under_approval {
  background-color: var(--under-approval-o) !important;
  color: var(--under-approval-text) !important;
}
 
 
.contentsubmissionBtn
{
 min-width: fit-content!important;
  margin:0rem!important;
   white-space:nowrap;
}


.contentfeesBtn
{
border-radius:1rem;
width:15rem!important;
min-width: fit-content;
margin:0rem !important;
}
.contentaprrove
{
margin:0rem!important;
}


/* .filterbtns
{
display: flex;
justify-content: space-between;
gap:0px;
} */
.totalorder {
  padding: 0px !important;
}
.datalist {
  width: 35rem!important;
  margin-right: 1rem;
  background-color: inherit !important;
  box-shadow: #0000000F 0.2rem 0.2rem 0.4rem  !important;
}



/* @media screen  and (max-width: 1450px) {
  .contentsubmissionBtn
{
  width:19rem!important;
  margin:0rem!important;
}
 
}


@media screen and (min-width: 1450px) and (max-width: 1600px) {
  .contentsubmissionBtn
  {
    width:19rem!important;
    margin:0rem!important;
  }
}


@media screen and (min-width: 1600px) and (max-width: 1750px) {
  .contentsubmissionBtn
  {
    width:19rem!important;
    margin:0rem!important;
  }
}


@media screen and (min-width: 1750px) and (max-width: 1900px) {
  .contentsubmissionBtn
  {
    width:19rem!important;
    margin:0rem!important;
  }
}


@media screen and (min-width: 1900px) and (max-width: 2100px) {
  .contentsubmissionBtn
{
  width:23rem!important;
  margin:0rem!important;
}
 
} */
