:root {
  --background: #fff;
  --foreground: #171717;
  --backgroundt: transparent;
 
  --application-background: var(--tnd-background);
  --tnd-background: #F8FFFF;
 
  --green: #008080;
  --green-hover:#E1F1F2;
  --blue-600: #82b1ff;
  --semiblue: #4f54a4;
  --red: #c50606;
  --orange: #eb0f0f;
  --black: #000000;
  --lightred: #f9aeae;
  --lightviolet: #abafe1;
  --darkskyblue: #0076ba;
  --skyblue: #0faeef;
  --grey: #c4c4c4;
  --brick: #f1818198;
  --blush: #efe3fade;
  --periwinkle: #e4e4e4;
  --lightgrey:#e9e9e9;
  --semiblack: #383838;
  --heather: #a4a9d1;
 
  --text-primary: var(--green);
  --text-primary-hover: var(--green-hover);
  --text-white: var(--background);
  --text-dark: var(--black);
  --text-warning: var(--red);
 
  --primary: var(--green);
  --primary-hover: var(--tndPrimary-hover);
  --secondary: var(--tndSecondary);
  --secondary-hover: var(--tndSecondary);
  --danger: var(--tndDanger);
  --danger-hover: var(--tndDanger-hover);
  --warning: var(--tndWarning);
  --warning-hover: var(--tndWarning-hover);
  --dark: var(--tndDark);
  --info: var(--tndInfo);
  --info-hover: var(--tndInfo-hover);
  --midviolet: var(--tndMidviolet);
  --semiviolet: var(--tndSemiviolet);
  --lightviolet:var(--tndLightviolet);
 --lightgrey:var(--lightgrey);
 
  --tndPrimary:var(--semiblue);
  --tndPrimary-hover:var(--green);
  --tndSecondary:var(--grey);
  --tndDanger:var(--red);
  --tndDanger-hover:var(--orange);
  --tndWarning:var(--lightred);
  --tndWarning-hover:var(--brick);
  --tndDark:var(--black);
  --tndInfo:var(--darkskyblue);
  --tndInfo-hover:var(--skyblue);
  --tndMidviolet:var(--blush);  
  --tndSemiviolet:var(--periwinkle);      
  --tndLightviolet:var(--lightviolet);
 --tndLightGrey:var(--lightgrey);
  --ds-padding: 0.5rem !important;
  --ds-marginX: 0.6vw;
  --ds-marginY: 3px;
  --ds-margin: var(--ds-marginY) var(--ds-marginX) !important;
  --ds-min-width: 5rem;
  --ds-min-height: 3rem;
  --ds-width: fit-content;
  --ds-height: fit-content;
  --ds-font-size: 16px;
  --ds-font-weight: var(--grey-600);
  --ds-border: 1px solid;
  --ds-border-radius: 4px;
 
 
  --under-emd-pending: #CC8400;
  --awarded:#DCA500;
  --disable: #cccccc;
  --placeholder: #c4c4c4;
  --bodytext: #434343;
  --hold: #cc8400;
  --draft: #B0B0B0;
  --dispatch: #dca500;
  --approved: #28a745;
  --open: #007bff;
  --deviationpending-text: #6f42c1;
  --deviationpending: #e8e0f8;
  --cancelled: #dc3545;
  --rejected: #a50f1d;
  --submitted: #87ceeb;
  --completed: #126e27;
 
  --grey-50: #f5f5f5;
  --grey-100: #e9e9e9;
  --grey-200: #d9d9d9;
  --grey-300: #c4c4c4;
  --grey-400: #9d9d9d;
  --grey-500: #7b7b7b;
  --grey-600: #555555;
  --grey-700: #434343;
  --grey-800: #262626;
  --grey-900: #0f0f0f;
 
  /*button group colors*/
  --btngroup-primary: #f8f9ff;
  --btngroup-text-primary: #0f0f0f;
  --btngroup-primary-hover: #ededf6;
  --btngroup-text-primary-hover: #4f54a4;
 
  /*status indicator colors*/
  --under-approval-o: #e2bb1f1a;
  --under-approval-text: #e2bb1f;
  --pending-o: #cc84001a;
  --pending-text: #cc8400;
  --under-review-o: #6ec4e81a;
  --under-review-text: #6ec4e8;
  --approved-o: #28a7451a;
  --approved-text: #28a745;
  --approval-o: #28a7451a;
  --approval-text: #28a745;
  --submitted-o: #007bff1a;
  --submitted-text: #007bff;
  --inProcess-o: #6f42c11a;
  --inProcess-text: #6f42c1;
  --cancelled-o: #dc35451a;
  --cancelled-text: #dc3545;
 
  /*Tender status colors*/
  --draft-text:#b0b0b0;
  --draft-o:#b0b0b01a;
  --awarded-o:#dca5001a;
  --awarded-text:#DCA500;
 
 
 
   /*application specific font-size variables*/
 
   --font-7: 9px !important;
   --font-8: 11px !important;
   --font-9: 13px !important;
   --font-10: 15px !important;
   --font-11: 17px !important;
   --font-12: 19px !important;
   --font-13: 21px !important;
   --font-14: 23px !important;
   --font-16: 27px !important;
   --font-18: 31px !important;
   --font-22: 37px !important;
   --font-24: 41px !important;
   --font-32: 55px !important;
   --font-36: 61px !important;
   --font-54: 91px !important;
   --font-42: 71px !important;
   --font-48: 81px !important;
   --font-60: 101px !important;
 
   --heading1: 2.1rem;
   --heading2:  var(--font-18);
   --heading3:  var(--font-13);
   --subtitle1: var(--font-12);
   --subtitle2:  var(--font-11);
   --bodyText:  var(--font-14);
   --buttonTextMedium:  var(--font-16);
   --buttonTextSmall:  var(--font-13);
   --link:  var(--font-12);
   --custome: 5rem;
 
 
}
 
 
 
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
 
body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: var(--font-Open-sans) !important;
  letter-spacing: 0.02px !important;
}
.cellRow {
  /* Add your styles here */
  min-width: 100%;
 
}
.cellRow .cell {
  margin-right: 0.8rem;
}
 
 
.logRow:hover {
  background-color: var(--background-hover);
}
.cell-0 {
  flex: 0;
  max-width: 1.8rem !important;
  min-width: 1.8rem !important;
}
.cell-0-5 {
  flex: 1;
  max-width: 8% !important;
  min-width: 8% !important;
}
.cell {
  flex: 1;
  max-width: 10% !important;
  min-width: 10% !important;
}
.cell-1 {
  flex: 1;
  max-width: 12% !important;
  min-width: 12% !important;
}
.cell-2 {
  flex: 1;
 
  max-width: 15% !important;
  min-width: 15% !important;
}
.cell-customer{
  max-width: 10.3rem !important;
  min-width: 10.3rem !important;
  white-space:nowrap;
  text-overflow: ellipsis;
 
 }
 
.cell-submissiondate
{
  max-width: 10.7rem !important;
  min-width: 10.7rem !important;
}
.cell-days-to-submit
{
 
    max-width: 9.8rem !important;
    min-width: 9.8rem !important;
  }
  .cell-tenderid
{
 
    max-width: 6.2rem !important;
    min-width: 6.2rem !important;
  }
   .cell-tendertype
  {
 
      max-width: 7.7rem !important;
      min-width: 7.7rem !important;
     }
 
     .cell-depot
     {
       min-width:max-content !important;
       flex:1;
       max-width: 6% !important;
     }
 
.cell-appliedby
{
max-width: 6.6rem !important;
min-width: 6.6rem !important;
}
.cell-suppliedby
{
max-width: 7.4rem !important;
min-width: 7.4rem !important;
}
.cell-preparedby
{
max-width: 7.8rem !important;
min-width: 7.8rem !important;
}
.cell-value
{
max-width: 5.5rem !important;
min-width: 5.5rem !important;
}
.cell-status
{
max-width: 4.4rem !important;
min-width: 4.4rem !important;
}
 
 
/*
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
.cellRow {
  flex: 1;
  display: flex;
 
  height: fit-content;
  /* min-width: 112.4rem !important; */
  cursor: pointer !important;
}
.cellRow .cell {
  margin-right: 1.6rem;
}
.logRow:hover {
  background-color: var(--background-hover);
}
.cell-0 {
  flex: 0;
  max-width: 1.8rem !important;
  min-width: 1.8rem !important;
}
.cell-0-5 {
  flex: 1;
  max-width: 8% !important;
  min-width: 8% !important;
}
.cell {
  flex: 1;
  /* max-width: 10% !important; */
  min-width: 10% !important;
}
.cell-1 {
  flex: 1;
  min-width: 12% !important;
}
.cell-2 {
  flex: 1;
  margin-right: 0;
 
  /* max-width: 80% !important; */
  min-width: 15% !important;
  max-width: 20rem !important;
}
.cell-date {
  max-width: 6rem !important;
 
  min-width: 6rem !important;
}
.cell-order-id {
  max-width: 8rem !important;
 
  min-width: 8rem !important;
}
.cell-location {
  flex: 1;
  /* max-width: 80% !important; */
  margin-right: 0;
 
  min-width: 16.1rem !important;
  max-width: 20rem !important;
}
 
.text-dark-0 {
  color: var(--grey-400) !important;
}
.text-dark-1 {
  font-weight: 500;
 
  color: var(--grey-600) !important;
}
.text-dark-2 {
  font-weight: bold;
  color: var(--grey-700) !important;
}
.number-cell {
  margin-right: 0;
 
  display: flex;
  flex: 1;
  /* max-width: 80% !important; */
  justify-content: flex-end !important;
  /* justify-items: end; */
  min-width: 11rem !important;
  width: fit-content;
  max-width: 100% !important;
}
.status-cell {
  margin-right: 0;
 
  flex: 1;
  /* max-width: 80% !important; */
  min-width: 20rem !important;
  max-width: 20rem !important;
}
thead,
tbody {
  min-width: max-content;
  width: 100%;
}
.filter_btn {
  /* height:3.6rem; */
}
 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
a {
  color: inherit;
  text-decoration: none;
}
 
span {
  height: auto;
  min-height: fit-content;
  display: flex;
  align-items: center;
}
 
/*scrollbar css*/
*::-webkit-scrollbar {
  display: block;
  overflow: auto;
  padding: 1em;
  margin: 1em auto;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #c2c0c0;
  /* Color of the scrollbar thumb */
  border-radius: 0.5rem;
  height: 0.4rem !important;
}
 
*::-webkit-scrollbar-thumb:hover {
  background-color: #cdc5c5;
  /*Color of the scrollbar thumb on hover */
}
 
*::-webkit-scrollbar {
  height: 0.6rem;
  width: 0.6rem;
}
 
*::-webkit-scrollbar-track {
  background-color: transparent;
  /* display: hidden; */
}
 
*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
 
*:hover::-webkit-scrollbar-thumb {
  background-color: #55555544;
}
 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}
 
/*scrollbar css*/
*::-webkit-scrollbar {
  display: block;
  overflow: auto;
  padding: 1em;
  margin: 1em auto;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #c2c0c0;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  height: 4px !important;
}
 
*::-webkit-scrollbar-thumb:hover {
  background-color: #cdc5c5;
  /*Color of the scrollbar thumb on hover */
}
 
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
 
*::-webkit-scrollbar-track {
  background-color: transparent;
  /* display: hidden; */
}
 
*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
 
*:hover::-webkit-scrollbar-thumb {
  background-color: #55555544;
}
 
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 4px;
  outline: none;
} /* Style the thumb for WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 4px solid #4f54a4;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} /* Style the thumb for Firefox */
input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 4px solid #4f54a4;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} /* Style the thumb for Internet Explorer */
input[type="range"]::-ms-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 4px solid #4f54a4;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} /* Optional: Add hover effect */
input[type="range"]:hover::-webkit-slider-thumb {
  background: #fff;
}
input[type="range"]:hover::-moz-range-thumb {
  background: #fff;
}
input[type="range"]:hover::-ms-thumb {
  background: #fff;
}
input[type="checkbox"]:not(:checked) {
  appearance: none;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: inherit;
  cursor: pointer;
}
 
.secondaryValue {
  font-size: 1rem !important;
  padding-left: 0 !important;
}
.optionLabel,
.optionValue {
  text-wrap: auto;
  text-align: left;
}
 
/* For screen widths 1300px to 1450px */
/* and (min-width: 1300px) */
@media screen  and (max-width: 1450px) {
  :root {
    --font-7: 7px !important;
    --font-8: 8px !important;
    --font-9: 9px !important;
    --font-10: 10px !important;
    --font-11: 11px !important;
    --font-12: 12px !important;
    --font-13: 13px !important;
    --font-14: 14px !important;
    --font-16: 16px !important;
    --font-18: 18px !important;
    --font-22: 22px !important;
    --font-24: 24px !important;
    --font-32: 32px !important;
    --font-36: 36px !important;
    --font-42: 42px !important;
    --font-48: 48px !important;
    --font-54: 54px !important;
    --font-60: 60px !important;
  }
  .cellRow {
    /* Add your styles here */
    min-width: 100%;
 
  }
  .cellRow .cell {
    margin-right: 1px;
  }
 
  .cell-0-5 {
    flex: 1;
    max-width: 6% !important;
    min-width: 6% !important;
  }
  .cell {
    flex: 1;
    /* max-width: 10% !important; */
    min-width: 7% !important;
  }
  .cell-1 {
    flex: 1;
    min-width: 8% !important;
  }
  .cell-2 {
    flex: 1;
 
    /* max-width: 80% !important; */
    min-width: 9% !important;
    max-width: 12rem !important;
  }
 
  .cell-order-id {
    max-width: 5rem !important;
 
    min-width: 5rem !important;
  }
  .cell-location {
    flex: 1;
 
    min-width: 8rem !important;
    max-width: 11rem !important;
  }
  .number-cell {
 
    flex: 1;
    min-width: 5rem !important;
    max-width: 8rem !important;
  }
  .status-cell {
 
    flex: 1;
    min-width: 8rem !important;
    max-width: 8rem !important;
  }
  .cell-customer{
    max-width: 7.8rem !important;
    min-width: 7.8rem !important;
 
   }
 
  .cell-submissiondate
  {
    max-width: 8rem !important;
    min-width: 8rem !important;
  }
  .cell-days-to-submit
  {
 
      max-width: 7.2rem !important;
      min-width: 7.2rem !important;
    }
    .cell-tenderid
  {
 
      max-width: 5.4rem !important;
      min-width: 5.4rem !important;
    }
    .cell-tendertype
    {
   
        max-width: 6.6rem !important;
        min-width: 6.6rem !important;
       }
       .cell-depot
       {
         min-width:max-content !important;
         flex:1;
         max-width: 6% !important;
       }
 
  .cell-appliedby
  {
  max-width: 5.8rem !important;
  min-width: 5.8rem !important;
  }
  .cell-suppliedby
  {
  max-width: 6.6rem !important;
  min-width: 6.6rem !important;
  }
  .cell-preparedby
  {
  max-width: 7rem !important;
  min-width: 7rem !important;
  }
  .cell-value
  {
  max-width: 5.1rem !important;
  min-width: 5.1rem !important;
  }
  .cell-status
  {
  max-width: 3.6rem !important;
  min-width: 3.6rem !important;
  }
}
 
/* For screen widths 1450px to 1600px */
@media screen and (min-width: 1451px) and (max-width: 1600px) {
  :root {
    --font-7: 8px !important;
    --font-8: 9px !important;
    --font-9: 10px !important;
    --font-10: 11px !important;
    --font-11: 12px !important;
    --font-12: 13px !important;
    --font-13: 14px !important;
    --font-14: 15px !important;
    --font-16: 17px !important;
    --font-18: 19px !important;
    --font-22: 23px !important;
    --font-24: 26px !important;
    --font-32: 34px !important;
    --font-36: 38px !important;
    --font-42: 44px !important;
    --font-48: 50px !important;
    --font-54: 56px !important;
    --font-60: 63px !important;
  }
  .cellRow {
    /* Add your styles here */
    min-width: 100%;
 
  }
  .cellRow .cell {
    margin-right: 3px;
  }
 
  .cell-0-5 {
    flex: 1;
    max-width: 6% !important;
    min-width: 6% !important;
  }
  .cell {
    flex: 1;
    /* max-width: 10% !important; */
    min-width: 7% !important;
  }
  .cell-1 {
    flex: 1;
    min-width: 8% !important;
  }
  .cell-2 {
    flex: 1;
 
    /* max-width: 80% !important; */
    min-width: 9% !important;
    max-width: 14rem !important;
  }
 
  .cell-order-id {
    max-width: 5rem !important;
 
    min-width: 5rem !important;
  }
  .cell-location {
    flex: 1;
    /* max-width: 80% !important; */
    margin-right: 0;
 
    min-width: 10rem !important;
    max-width: 13rem !important;
  }
  .number-cell {
 
    flex: 1;
    min-width: 6rem !important;
    max-width: 8rem !important;
 
  }
  .status-cell {
 
    flex: 1;
    min-width: 10rem !important;
    max-width: 10rem !important;
  }
  .cell-customer{
    max-width: 8rem !important;
    min-width: 8rem !important;
 
   }
 
  .cell-submissiondate
  {
    max-width: 8.2rem !important;
    min-width: 8.2rem !important;
  }
  .cell-days-to-submit
  {
 
      max-width: 7.4rem !important;
      min-width: 7.4rem !important;
    }
    .cell-tenderid
  {
 
      max-width: 5.5rem !important;
      min-width: 5.5rem !important;
    }
    .cell-tendertype
    {
   
        max-width: 6.8rem !important;
        min-width: 6.8rem !important;
       }
 
 
       .cell-depot
       {
         min-width:max-content !important;
         flex:1;
         max-width: 6% !important;
       }
  .cell-appliedby
  {
  max-width: 5.9rem !important;
  min-width: 5.9rem !important;
  }
  .cell-suppliedby
  {
  max-width: 6.7rem !important;
  min-width: 6.7rem !important;
  }
  .cell-preparedby
  {
  max-width: 7.1rem !important;
  min-width: 7.1rem !important;
  }
  .cell-value
  {
  max-width: 5.2rem !important;
  min-width: 5.2rem !important;
  }
  .cell-status
  {
  max-width: 3.7rem !important;
  min-width: 3.7rem !important;
  }
}
 
/* For screen widths 1600px to 1750px */
@media screen and (min-width: 1601px) and (max-width: 1750px) {
  :root {
    --font-7: 9px !important;
    --font-8: 10px !important;
    --font-9: 11px !important;
    --font-10: 12px !important;
    --font-11: 13px !important;
    --font-12: 15px !important;
    --font-13: 17px !important;
    --font-14: 19px !important;
    --font-16: 21px !important;
    --font-18: 23px !important;
    --font-22: 27px !important;
    --font-24: 29px !important;
    --font-32: 37px !important;
    --font-36: 41px !important;
    --font-42: 47px !important;
    --font-48: 53px !important;
    --font-54: 59px !important;
    --font-60: 65px !important;
  }
  .cellRow {
    /* Add your styles here */
    min-width: 100%;
 
  }
  .cellRow .cell {
    margin-right: 5px;;
  }
 
  .cell-0-5 {
    flex: 1;
    max-width: 6.5% !important;
    min-width: 6.5% !important;
  }
  .cell {
    flex: 1;
    /* max-width: 10% !important; */
    min-width: 7.5% !important;
  }
  .cell-1 {
    flex: 1;
    min-width: 9% !important;
  }
  .cell-2 {
    flex: 1;
 
    /* max-width: 80% !important; */
    min-width: 11% !important;
    max-width: 16rem !important;
  }
 
  .cell-order-id {
    max-width: 7rem !important;
 
    min-width: 7rem !important;
  }
  .cell-location {
    flex: 1;
    /* max-width: 80% !important; */
    margin-right: 0;
 
    min-width: 13rem !important;
    max-width: 16rem !important;
  }
  .number-cell {
 
    flex: 1;
    min-width: 9rem !important;
    max-width: 9rem !important;
 
  }
  .status-cell {
 
    flex: 1;
    min-width: 8rem !important;
    /* max-width: 12rem !important; */
  }
  .cell-customer{
    max-width: 8.6rem !important;
    min-width: 8.6rem !important;
 
   }
 
  .cell-submissiondate
  {
    max-width: 9.2rem !important;
    min-width: 9.2rem !important;
  }
  .cell-days-to-submit
  {
 
      max-width: 8.4rem !important;
      min-width: 8.4rem !important;
    }
    .cell-tenderid
  {
 
      max-width: 5.6rem !important;
      min-width: 5.6rem !important;
    }
    .cell-tendertype
    {
   
        max-width: 7.2rem !important;
        min-width: 7.2rem !important;
       }
 
       .cell-depot
       {
         min-width:max-content !important;
         flex:1;
         max-width: 6% !important;
       }
 
  .cell-appliedby
  {
  max-width: 6rem !important;
  min-width: 6rem !important;
  }
  .cell-suppliedby
  {
  max-width: 6.8rem !important;
  min-width: 6.8rem !important;
  }
  .cell-preparedby
  {
  max-width: 7.2rem !important;
  min-width: 7.2rem !important;
  }
  .cell-value
  {
  max-width: 5.3rem !important;
  min-width: 5.3rem !important;
  }
  .cell-status
  {
  max-width: 3.8rem !important;
  min-width: 3.8rem !important;
  }
 
}
 
/* For screen widths 1750px to 1900px */
@media screen and (min-width: 1751px) and (max-width: 1900px) {
  :root {
    --font-7: 11px !important;
    --font-8: 12px !important;
    --font-9: 13px !important;
    --font-10: 14px !important;
    --font-11: 15px !important;
    --font-12: 17px !important;
    --font-13: 19px !important;
    --font-14: 21px !important;
    --font-16: 23px !important;
    --font-18: 27px !important;
    --font-22: 31px !important;
    --font-24: 35px !important;
    --font-32: 47px !important;
    --font-36: 51px !important;
    --font-54: 77px !important;
    --font-42: 59px !important;
    --font-48: 67px !important;
    --font-60: 87px !important;
  }
  .cellRow {
    /* Add your styles here */
    min-width: 100%;
  }
  .cellRow .cell {
    margin-right: 7px;
  }
 
  .cell-0-5 {
    flex: 1;
    max-width: 6% !important;
    min-width: 6% !important;
  }
  .cell {
    flex: 1;
    /* max-width: 10% !important; */
    min-width: 8% !important;
  }
  .cell-1 {
    flex: 1;
    min-width: 9% !important;
  }
  .cell-2 {
    flex: 1;
 
    /* max-width: 80% !important; */
    min-width: 12% !important;
    max-width: 17rem !important;
  }
  .cell-date {
    max-width: 5.5rem !important;
 
    min-width: 5.5rem !important;
  }
  .cell-order-id {
    max-width: 7.4rem !important;
 
    min-width: 7.4rem !important;
  }
  .cell-location {
    flex: 1;
    /* max-width: 80% !important; */
    margin-right: 0;
 
    min-width: 14rem !important;
    max-width: 17rem !important;
  }
  .number-cell {
 
    flex: 1;
    min-width: 10rem !important;
    max-width: 10rem !important;
 
  }
  .status-cell {
 
    flex: 1;
    min-width: 16rem !important;
    max-width: 16rem !important;
  }
  .cell-customer{
    max-width:9.6rem !important;
    min-width: 9.6rem !important;
 
   }
 
  .cell-submissiondate
  {
    max-width: 10.2rem !important;
    min-width:10.2rem !important;
  }
  .cell-days-to-submit
  {
 
      max-width: 9.4rem !important;
      min-width: 9.4rem !important;
    }
    .cell-tenderid
  {
 
      max-width: 6rem !important;
      min-width: 6rem !important;
    }
     .cell-tendertype
    {
   
        max-width: 8rem !important;
        min-width: 8rem !important;
       }
 
  .cell-depot
  {
    min-width:max-content !important;
    flex:1;
    max-width: 6% !important;
  }
 
  .cell-appliedby
  {
  max-width: 6.5rem !important;
  min-width: 6.5rem !important;
  }
  .cell-suppliedby
  {
  max-width: 7.3rem !important;
  min-width: 7.3rem !important;
  }
  .cell-preparedby
  {
  max-width: 7.7rem !important;
  min-width: 7.7rem !important;
  }
  .cell-value
  {
  max-width: 5.4rem !important;
  min-width: 5.4rem !important;
  }
  .cell-status
  {
  max-width: 3.9rem !important;
  min-width: 3.9rem !important;
  }
 
}
 
 
 
 
 
 

 
 