.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}
 /* .container {
  flex:1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;  */
  /* padding:0.5rem; */
/* 
  overflow-x:hidden;
  background-color:var(--background);
}  */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color:var(--background);
}
.ContextCreateNew {
  border-radius: var(--ds-border-radius);
}
.flex-column{
  flex-direction: column;
}
.fluidContainer{
  flex:1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.table-container{
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col {
  display: block;
}
.left_separator {
  border-left: 1px solid grey;
}
.right_separator {
  border-left: 1px solid grey;
}
.demoContainer{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom:1rem;
  border-bottom: #1a1a1a solid 2px;
}
.demoTitle{
  font-size:var(--heading2);
  padding-bottom: 1rem;
}

.table{
  padding: 2px !important;
}
.demo{
  display:flex;
  flex-direction: row;
}
.tenderHeader{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: var(--ds-padding);
  font-size: var(--subtitle2);
  background-color: var(--application-background);
}

.datalist{
  /* border: 1px solid var(--secondary); */
  /* min-width: fit-content; */
  color: var(--secondary);
}
.flex-column{
  flex-direction: column;
}
.pad-0{
  padding:0 !important;
}
.pad-l{
  padding-left: var(--ds-padding);
}
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.filterNavBar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.tableContainer{
  flex:1;
}
/* .totalCal {
  display: flex!important;
  flex-direction: flex-end!important;
  justify-content: flex-end!important;
  margin-top: 0px !important;
} */
.totalCal {
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
  gap:1rem;
  font-size: 1.3rem !important;
  margin: 1rem !important;
}
.MenuBtn
{
  flex:1;
  width:100%;
  justify-content: flex-start;
  color:var(--tender-green) !important;
  font-weight:bold!important;
}
.MenuBtn:hover
{
  background-color:var(--tender-green-hover)!important;
}
.newbutton:hover  {
 background-color: white; /* Makes the image white */
}
.blackText {
  color: var(--grey-700) ;
}

.orangeText {
  color:var( --under-emd-pending);
}

.zeroText {
  color: var(--grey-400);
}
/* .newbutton1{
  border: 0.2rem solid var(--primary) !important;
   padding: 0rem !important;
} */


.ContextCreateNew {
  border-radius: var(--ds-border-radius);
}

.ContextCreateNew .MenuBtn:first-child {
  border-radius: var(--ds-border-radius) var(--ds-border-radius) 0 0;
  margin:0px;
}

.ContextCreateNew .MenuBtn:last-child {
  border-radius: 0 0 var(--ds-border-radius) var(--ds-border-radius);
  margin:0px;

}
.kpi{
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  padding: 10px;
}
.noDataFound {
  min-height: 42rem;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--grey-50);
}
 
.noDataBorders {
  min-height: 2rem;
  min-width: 100%;
  background: var(--grey-100);
}
 
.noData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-300);
  font-size: var(--custome-1);
}

.csvpopupBtn {
  color: var(--primary);
  background-color: var(--background);
}

.csvpopupBtn:hover {
  color: var(--primary) !important;
  background-color: var(--btngroup-primary-hover) !important;
}
.tenderTable
{
  flex:1;
  max-height: 100%;
  font-size: var(--font-12);
}
.cellgenericname
{
  max-width:100% ;
  min-width: 15em !important;
  width: 15em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;

}
.cellquantity
{
  max-width:100% ;
  min-width: 12em !important;
  width: 12em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellpackingsize
{
  max-width:100% ;
  min-width: 10em !important;
  width:10em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellproductname
{
  max-width:100% ;
  min-width: 15em !important;
  width: 15em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellproductpakingsize
{
  max-width:100% ;
  min-width: 15em !important;
  width: 15em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellmrp
{
  max-width:100% ;
  min-width: 7em !important;
  width: 7em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellptr
{
  max-width:100% ;
  min-width: 7em !important;
  width: 7em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.celldirectcost
{
  max-width:100% ;
  min-width: 8em!important;
  width: 8em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.celllqr
{
  max-width:100% ;
  min-width: 7em !important;
  width: 7em!important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.celllpr
{
  max-width:100% ;
  min-width: 15em !important;
  width: 15em!important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellproposedrate
{
  max-width:100% ;
  min-width: 10em!important;
  width: 10em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellptr{
  max-width:100% ;
  min-width: 7em !important;
  width: 7em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.celldiscount
{
  max-width:100% ;
  min-width: 8em !important;
  width: 8em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.celltotalcost
{
  max-width:100% ;
  min-width: 7em !important;
  width: 7em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellmargin
{
  max-width:100% ;
  min-width: 6em!important;
  width: 6em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellmarginper
{
  max-width:100% ;
  min-width: 7em !important;
  width: 7em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.cellnetvalue
{
  max-width:100% ;
  min-width: 7em !important;
  width: 7em !important;
  white-space:nowrap;
  text-overflow: ellipsis; 
  padding: 0rem 1rem!important;
}
.tendertable{
  font-size:var(--font-12) !important;
}
.tender-product-table{
  font-size:var(--font-13);
}