.status_change{
    width: auto;
    height: auto;
}

.statusIndicator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: var(--dswidth);
    margin: 4px;
    padding: 4px;
    border: 0px !important;
}
.button_label{
    border: 0px !important;
    margin: 2px;
}

.status_icon{
    border: 0px !important;
    width: fit-content;
    height: fit-content;
}
.statusIndicator.underReview{
    background-color: var(--under-review);
    color: var(--under-review-text);
}

.statusIndicator.underApproval{
    background-color: var(--under-approval);
    color: var(--under-approval-text);
}

.statusIndicator.Pending{
    background-color: var(--deviationpending);
    color: var(--deviationpending-text);
}

.statusIndicator.Approved{
    background-color: var(--approved);
    color: var(--approved-text);
}

.statusIndicator.Submitted{
    background-color: var(--submitted);
    color: var(--submitted-text);
}

.statusIndicator.InProcess{
    background-color: var(--inProcess);
    color: var(--inProcess-text);
}

.statusIndicator.Cancelled{
    background-color: var(--cancelled);
    color: var(--cancelled-text);
}