.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Ensure the parent does not hide overflow */
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col {
  display: flex;
}

.layout {
}
.appTitleBar {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1;
}
.titleBarItem {
  flex: 1;
  min-width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appContent {
  flex: 1;
  overflow: hidden;
}
.appNavigator {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:0;
  min-width:fit-content;
  /* background-color: #0F0F0F; */
  background-color: var(--dark);
  transition: width 0.7s ease;
  z-index: 1;

}
.appNavigator:hover {
    width: 15vw; 
  }
.appRoutes{
  flex:1;
  padding: 10px;
}
.app{
  display:flex;
  align-items: center;
}
.appTitle ,.poweredBy{
  display:none;
  width:0;
  height:0;
  opacity:0;
  visibility: hidden;
  color: var(--dark);
  padding:0;
  margin:0;
  transition: width 0.7s ease,height 0.7s ease,color 0.7s ease, opacity 0.7s ease, visibility 0.7s ease, display 0.7s ease;

}
.appNavigator:hover .poweredBy{
  justify-content: start;
  align-items: center;
}
.appNavigator:hover .appTitle,.appNavigator:hover .poweredBy{
  display:flex;
  height: auto;

  animation: showUp 0.9s ease forwards; /* Animate after delay */
  animation-delay: 0.3s;
}
@keyframes showUp {
  to {
  width:10vw;
  color:var(--background);
    opacity: 1;
    visibility: visible; /* Fade in after delay */
  }
}

.navigationFooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:10px;
  align-items: flex-end;
  background-color: #ffffff05;
  color:rgba(250, 254, 255, 0.80);
  transition:  align-items 0.7s ease;

}
.appNavigator:hover .navigationFooter{
  animation: aligns 0.1ms ease forwards; /* Animate after delay */
  animation-delay: 0.7s;
}
@keyframes aligns {
  to {
  align-items: center; /* Fade in after delay */
  }
}
.poweredByLogo{
  margin-right: 0.5rem;
  height: fit-content;
}

.appViewArea {
    flex:1;
  /* padding: 10px; */
  position: relative;
  display: flex;
  flex-direction: column;
  height:100%;
  overflow-x: hidden;
}
.left_align{
  justify-content: start;
}