/* 
 .mainselection{  
     padding:10px;
     color:black;
     border:1px solid;
     border-radius:5px ;
     border-style: groove;
     border-color:gray;
     justify-content: center;
 } */
 .allselect{
   height:min-content;
   width:min-content;
   position:relative;
   margin:20px;
   
}
.mainselection{  
    padding:10px;
    color:black;
    border:1px solid;
    border-radius:5px ;
    border-style: groove;
    border-color:gray;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: 0.1s ease all;
  color: black;
  background-color: var(--background);
  pointer-events: none;
}

.shrink {
  top: -10px;
  font-size: 12px;
  color: blue;
}

 
 .list{
     /* display: block; */
     /* block-size: 100%; */
     padding:10px;
     justify-content: center;
     caret-color: blue;
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
     border-radius: 2px;
     /* margin-left: 2px; */
     height: min-content;
     background: white;
     position: absolute;
     width: 100%;
     z-index: 99;
 }
 
 .option{
     margin: 8px;
 }
 
 .selectcontainer{
    display: flex ;
    margin:2px;
    min-width: 2rem;
    flex-wrap:wrap;
 }
 .selectoption{
    display: flex ;
    padding: 1px;
    flex-wrap: wrap;
 }
 .remove{
    margin-left: 5px;
    font-size:10px ;
 }
 .selecteditem{
    padding: 7px 12px 7px 12px;
    border: 0px;
    font-size: 12px;
    border-radius: 25px !important;
    margin: 2px;
    height: min-content;
    background-color: #dacfcf;
    color: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-width: 4.5rem !important;
    flex-wrap: wrap;
 }

 
.checkbox_container{
   margin-right: 8px;
}