.tableContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ds-table {
  width: 100%;
  /* position: fixed; */
  overflow: auto;
  margin-left: 15px;
}

.ds-tableHeader {
  background-color: var(--grey-100);
  width: 100%;
  height: 30px;
  border-radius: 4px 4px 0px 0px;
  opacity: 1;
}
.arrow-container {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* min-height: 100%; */
  /* background-color: var(--background); */
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.ds-th-component {
  display: flex;
  align-items: center;
  justify-content: left;
  flex: 1;
  background-color: var(--semiviolet);
  opacity: 1;
}

.th-text-content {
  /* Layout Properties
 
  /* UI Properties */
  font-size: var(--subtitle1);
  font-weight: 600;
  padding-left: 3px;
  text-align: left;
  color: var(--bodytext);
  /* opacity: 0.8; */
}

.th-text-content:hover {
  /* Layout Properties */

  /* UI Properties */
  opacity: 1;
}

.ds-tr-component {
  flex: 1;
  display: flex;

  /* Layout Properties */

  height: 40px;
  /* UI Properties */
  /* background: var(--white) 0% 0% no-repeat padding-box; */
  /* background: #ffffff 0% 0% no-repeat padding-box; */
  background-color: var(--background);
  opacity: 0.6;
}

.ds-tr-component.approved:hover {
  /* Layout Properties */

  height: 40px;
  /* UI Properties */
  opacity: 1;
}

.ds-tr-component.readyToDispatch:hover {
  /* UI Properties */
  opacity: 1;
}

.ds-tr-component.deviationPending:hover {
  /* UI Properties */
  opacity: 1;
}
.ds-td-component {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
  /* Layout Properties
 
  /* UI Properties */
  padding-left: 3px;

  text-align: left;
  font-size: var(--subtitle1);
  letter-spacing: 0px;
  color: var(--bodytext);
  border-bottom: 1px solid var(--secondary);
  opacity: 1;
}

.ds-footer {
  display: flex;
  flex: 1;
  /* UI Properties */
  /* background: var(---e9e9e9-grey-100-) 0% 0% no-repeat padding-box;
  background: var(--grey-100) 0% 0% no-repeat padding-box; */
  background-color: var(--semiviolet);
  mix-blend-mode: multiply;
  border-radius: 0px 0px 4px 4px;
  opacity: 1;
}

/* .ds-th-component:hover .slide-component {
  left: 10px;
  display: contents;
  margin-left: 20px;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease,width 1.5s ease,min-width 1.5s ease;
}
  */

.slide-component {
  display: flex;
  /* width:0;
    min-width: 0; */
  visibility: hidden;
  transform: translateX(-10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.8s ease, width 1.2s ease,
    min-width 1.2s ease, visibility 0.3s 0.3s ease;
}

.ds-th-component:hover .slide-component {
  transform: translateX(0); /* Slide to original position */
  /* min-width: fit-content;
    width:auto; */
  opacity: 1;
  visibility: visible; /* Visible in the layout */
  transition: opacity 0.3s ease, transform 0.8s ease, width 1.5s ease,
    min-width 1.5s ease, visibility 0s 0.3s ease;
}

.cursor-pointer {
  cursor: pointer;
}
.menu-component {
  /* display: flex; */
  background-color: var(--background);
  color: var(--dark);
  padding: 3px;
  /* border: 2px solid var(--dark); */
  flex: 1;
  width: 100px;
  max-width: 100px;
  position: relative;
  z-index: 100;
  /* flex-direction: column; */
  /* transform: translateY(60%); */
}

.MenuItem {
  display: flex;
  background-color: var(--background) !important;
  color: var(--dark) !important;
  border: 0px;
  padding: 1px;
  font-size: var(--subtitle2);
  flex: 1;
  flex-direction: column;
}

.check {
  margin: 1rem;
}
.ms1 {
  margin-left: 0.5rem;
}
.range-filter,
.date-filter {
  display: flex;
}

.ds-search-input-text {
  width: 350px;
  height: 36px;
  /* UI Properties */
  background-color: var(--background);
  box-shadow: 2px 2px 4px var(--dark);
  border: 1px solid var(--grey-500);
  border-radius: 4px;
  opacity: 1;
}

.ds-search-input-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
