.container {
  width: 100%;
}
.Customer > div,
.Product > div,
.shipping > div {
  padding: var(--ds-padding);
}

.inputDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: var(--ds-margin); /* spacing between items */
  border-bottom: 0.5px solid var(--grey-100);
  padding: var(--ds-padding);
  background: inherit;
}

.inputDetails > div {
  margin: 0; /* Remove margin if you want exact grid alignment */
}

.inputComps{
  border-bottom: 1px solid var(--grey-100);
  padding: 2px;
}
@media (max-width: 1200px) {
  .details > div,.transportDetails {
    grid-template-columns: repeat(
      3,
      minmax(150px, 1fr)
    ); /* 3 columns on medium screens */
  }
}

@media (max-width: 800px) {
  .details > div,.transportDetails {
    grid-template-columns: repeat(
      2,
      minmax(150px, 1fr)
    ); /* 2 columns on smaller screens */
  }
  .ToFrom {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}

@media (max-width: 500px) {
  .details > div,
  .ToFrom ,.transportDetails{
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}
