.container {
    width: 100%;
  }
  .Customer > div,
  .Product > div,
  .shipping > div {
    padding: var(--ds-padding);
  }
  .inputDetails {
    display: grid;
    align-items: center;
    align-items: flex-start !important;
    border-bottom: 0.5px solid var(--separator);
    padding: var(--ds-padding);
    flex-wrap: wrap;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
  .inputDetails > div {
    flex: 1;
    margin: var(--ds-margin);
  }
  .productTitleBar{
    display: flex;
    align-items: center;
  }
  .productTitleBar .input{
    margin-left: 0.5rem;
  }
  .details,
  .Product {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid var(--secondary);
  }
  .shipping {
    /* display:grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
     */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .shippingDetails,
  .billingDetails {
    flex: 1;
  }
  .transportDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
  }
  
  .ToFrom {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    padding: var(--ds-padding);
  }
  .ToFrom > div,
  .Address {
    padding: var(--ds-padding) 0;
  }
  .details > div {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    /* padding: var(--ds-padding); */
  }
  .addProduct,
  .input,
  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
    gap:0.5em;
  }
  
  /* font stylings*/
  .Address {
    font-size: var(--buttonTextSmall);
    color: var(--grey-700);
  }
  .title {
    font-size: var(--heading2);
    font-weight: 500;
  }
  .subtitle {
    font-size: var(--bodyText) !important;
    color: var(--grey-800);
  }
  .shipTo .subtitle,
  .billTo .subtitle {
    /* margin-left: 10px; */
    padding: 10px;
  }
  .shipFrom .subtitle,
  .billFrom .subtitle {
    margin-bottom: 3vh;
  }
  .shippingBillingDetails {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
  }
  .footer {
    /* display: flex;
    justify-content: flex-end;
    padding: var(--ds-padding); */
    /* position: fixed; */
    display: flex;
    justify-content: flex-end;
    padding: var(--ds-padding);
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    /* margin-left: 84%; */
    width: 100%;
  }
  .tenderDetails {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
   
  }

  .docPane{
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
  .totalCount{
    display: flex;
    align-items: center;
  }

  .count{
    padding: 0.125em 0.1875em 0.125em 0.1875em;
    margin-left: 0.8em;
    margin-right: 0.5265em;
    display: flex;
    border-radius: 70%;
    min-width: 1.4em;
    min-height: 1em;
    justify-content: center;
    color: var(--dark) !important;
    background-color: rgb(15, 15, 15, 0.04);
    font-size: var(--font-12);
    height: fit-content;
  }
  @media (max-width: 1200px) {
    .details > div,
    .transportDetails {
      grid-template-columns: repeat(
        3,
        minmax(150px, 1fr)
      ); /* 3 columns on medium screens */
    }
  }
  
  @media (max-width: 800px) {
    .details > div,
    .transportDetails {
      grid-template-columns: repeat(
        2,
        minmax(150px, 1fr)
      ); /* 2 columns on smaller screens */
    }
    .ToFrom {
      grid-template-columns: 1fr; /* 1 column on very small screens */
    }
  }
  
  @media (max-width: 500px) {
    .details > div,
    .ToFrom,
    .transportDetails {
      grid-template-columns: 1fr; /* 1 column on very small screens */
    }
  }
  .noDataFound {
    min-height: 420px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--grey-50);
  }
  .noDataBorders {
    min-height: 2rem;
    min-width: 100%;
    background: var(--grey-100);
  }
  .noData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-300);
    font-size: var(--custome-1);
  }
  
  .product-code {
    min-width: 200px !important;
    padding-left: 10px !important;
  }
  
  .carton-size {
    min-width: 100px !important;
  }
  .qty-column {
    min-width: 50px !important;
  }
  .sales-quantity {
    min-width: 120px !important;
  }
  .balance {
    min-width: 60px !important;
  }
  .bonus-quantity {
    min-width: 90px !important;
  }
  .dispatch-quantity {
    min-width: 100px !important;
  }
  .batch-no {
    min-width: 90px !important;
  }
  .expiry-date {
    min-width: 100px !important;
  }
  .mrp {
    min-width: 60px !important;
  }
  .basic-value {
    min-width: 100px !important;
  }
  .special-rate {
    min-width: 120px !important;
  }
  .net-amount {
    min-width: 130px !important;
  }
  .esv-amount {
    min-width: 110px !important;
  }
  .igst,
  .cgst,
  .sgst,
  .hsn {
    min-width: 60px !important;
  }
  
  .productDetailsDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60%;
  }
  .footerContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  .inputDetails {
    display: grid;
    gap: 2%;
    align-items: center;
    padding: var(--ds-padding);
    flex-wrap: wrap;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    background-color: var(--background);
  }
  .inputDetails > div {
    flex: 1;
    margin: var(--ds-margin);
  }
 
.Seperator{
border-bottom: 1px solid var(--grey-200) !important;
padding: 10px;
}
.productkpi{
display: flex !important;
gap:1em;
}
.selectedDocsCount{
  font-size: var(--font-16);
  color: var(--grey-900);
  
}
.documentContainer{
  display: flex;
  flex-direction: column;
padding: 0.625em 0.75em ;
gap: 1em ;
}
.downloadPricing{
 color: var(--disable);
}
.qtyinproduct
{
  min-height:1.8em !important;
  max-height:1.8em !important;
  min-width: 4.75em !important;
  max-width:4.75em !important;
}
.qtyinproductContainer{
  
  box-shadow:2px 2px 4px  #0000000F!important;
}
.toaster-message {
  /* padding: 0.2em; */
}
.toaster-message-grid {
  display: grid;
  gap: 8px;
  max-height: 20vh;
  overflow-y: auto;
  padding: 2px;
  grid-template-columns: repeat(1, 1fr); /* fallback */
}

/* Approx: for medium-height container */
.toaster-message-grid:has(div:nth-child(15)) {
  grid-template-columns: repeat(2, 1fr);
}

.toaster-message-grid:has(div:nth-child(30)) {
  grid-template-columns: repeat(3, 1fr);
}

/* .toaster-message-grid:has(div:nth-child(40)) {
  grid-template-columns: repeat(4, 1fr);
  
} */

.toaster-item {
  background-color: #D9D9D91A;
  padding: 0.375em;
  border-radius: 0.25em;
  font-size:var(--font-12);
  /* max-width: fit-content; */
}
.toaster-message-grid {
  counter-reset: msgCount;
}

.toaster-message-grid > div::before {
  counter-increment: msgCount;
  content: counter(msgCount) ". ";
  font-weight: 600;
}

/* .flex{
  display: flex;
} */
