.container {
  width: 100%;
}
.Customer > div,
.Product > div,
.shipping > div {
  padding: var(--ds-padding);
}
.inputDetails {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary);
  padding: var(--ds-padding);
  flex-wrap: wrap;
}
.inputDetails > div {
  flex: 1;
  margin: var(--ds-margin);
}
.details,
.Product {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid var(--secondary);
}
.shipping {
  /* display:grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
   */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.shippingDetails,
.billingDetails {
  flex: 1;
}
.transportDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));

}

.ToFrom {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  padding: var(--ds-padding);
}
.ToFrom > div,
.Address {
  padding: var(--ds-padding) 0;
}
.details > div {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  /* padding: var(--ds-padding); */
}
.addProduct,
.input,
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* font stylings*/
.Address {
  font-size: var(--buttonTextSmall);
  color: var(--grey-700);
}
.title {
  font-size: var(--heading2);
  font-weight: 500;
}
.subtitle {
  font-size: var(--bodyText);
  color: var(--grey-800);
}
.footer{
  display: flex;
  justify-content: flex-end;
  padding: var(--ds-padding);
}
@media (max-width: 1200px) {
  .details > div,.transportDetails {
    grid-template-columns: repeat(
      3,
      minmax(150px, 1fr)
    ); /* 3 columns on medium screens */
  }
}

@media (max-width: 800px) {
  .details > div,.transportDetails {
    grid-template-columns: repeat(
      2,
      minmax(150px, 1fr)
    ); /* 2 columns on smaller screens */
  }
  .ToFrom {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}

@media (max-width: 500px) {
  .details > div,
  .ToFrom ,.transportDetails{
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}
