.container{
  width:100%;
}
.Customer > div,.Product > div {
  padding: var(--ds-padding);
}
.inputDetails {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary);
  padding: var(--ds-padding);
  flex-wrap: wrap;
}
.inputDetails > div {
  flex: 1;
  margin: var(--ds-margin);
}
.details {
  display: flex;
  flex-direction: column;
  padding: var(--ds-padding);
  border-bottom: 0.5px solid var(--secondary);
}
.details > div {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  /* padding: var(--ds-padding); */
}

@media (max-width: 1200px) {
  .details > div {
    grid-template-columns: repeat(3,minmax(150px, 1fr)); /* 3 columns on medium screens */
  }
}

@media (max-width: 800px) {
  .details > div {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); /* 2 columns on smaller screens */
  }
}

@media (max-width: 500px) {
  .details > div {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}
